.selectGroupsScreenMainContainer {
    position: absolute;

    display: flex;
    flex-direction: column;

    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    /* background-color: blue; */
}

.selectGroupsScreenNavBar{
    display: flex;
    flex-direction: row;

    background-color: var(--light-grey);
    border: 1px solid var(--grey);
    justify-content: start;
    align-items: center;

    /* height: 64px; */
}

.selectGroupsScreenBackButton {
    display: flex;

    align-items: center;
    justify-content: center;

    margin: 8px;

    height: 40px;
    width: 40px;

    font-size: 24px;

    border: 1px solid var(--primary-light);
    background-color: transparent;
    border-radius: 5px;

    color: var(--primary-light);

    transition-property: background-color, color;
    transition-duration: 150ms;
}

.selectGroupsScreenBackButton:hover {
    cursor: pointer;

    background-color: var(--primary-light);
    color: white;
}

.selectGroupsScreenTitle {
    margin-left: 12px;

    color: var(--primary-light);

    font-size: 22px;
    font-weight: 500;
}

.selectGroupsScreenContent {
    flex: 1;

    overflow: auto;
}

.selectGroupsScreenSummaryView {
    max-height: 40%;
    min-height: 140px;

    background-color: var(--light-grey);
    border-top: 1px solid var(--grey);
}

.category {
    display: flex;
}

.group, .groupSelected{
    margin: 5px;
    padding: 10px 30px;

    text-align: center;

    border-radius: 20px;

    cursor: pointer;
    user-select: none;

    transition: transform;
    transition-duration: 0.3;
}

.group:hover, .groupSelected:hover {
    transform: scale(1.05);
}

.group {
	background-color: #fff;
	color: var(--secondary-light);
	border: 1px solid var(--secondary-light);
}

.groupSelected {
    background-color: var(--secondary-light);
    color: var(--light-grey);
	border: none;
}


.selectGroupsCreatePlan {
	float: right;
	margin: 30px 50px;
	padding: 20px 10px;

	border: 1px solid var(--primary-dark);
	color: var(--primary-dark);

	transition: background-color, color;
	transition-duration: 150ms;

	cursor: pointer;
}

.selectGroupsCreatePlan:hover {
	background-color: var(--primary-dark);
	color: var(--light-grey);
}


.noGroupsContainer {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    padding: 30px 20px;
    margin: 50px auto;

    background-color: var(--light-grey);
    border: 2px solid red;
    width: 25%;
}

.noGroupsButton {
    cursor: pointer;
    border: 1px solid var(--primary-light);
    padding: 15px 10px;
    border-radius: 20px;
    color: var(--primary-light);
    user-select: none;

    transition: background-color, color;
    transition-duration: 150ms;
}

.noGroupsButton:hover {
    background-color: var(--primary-light);
    color: var(--light-grey);
}
