.column {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    /* background-color: #00ff00; */
}

.content-box {
    flex: 1;
    display: flex;

    overflow: hidden;

    /* background-color: yellow; */
}

.content-main {
    flex: 1;

    /* background-color: orange; */

    overflow-y: auto;

    padding: 40px;
}

.guideAddPlan {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 700px;

    /* background-color: var(--light-grey); */

    /* border: 1px solid var(--grey); */
    /* border-radius: 4px; */

    padding: 8px;

    align-items: center;
    justify-content: center;
}

.plansTreeView {
    box-sizing: border-box;

    width: 100%;
    height: 500px;

    margin-top: 20px;

    background-color: var(--light-grey);

    border: 1px solid var(--grey);
    border-radius: 4px;

    padding: 8px;
}