.column {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    background-color: #00ff00;
}

.content-box {
    flex: 1;
    display: flex;

    overflow: hidden;

    background-color: orange;
}

.content-main {
    flex: 1;

    background-color: orange;
}