.treeNode {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 2px;

    width: 15%;

    background-color: var(--light-grey);
    color: var(--secondary-dark);
    
    border: 1px solid var(--secondary-dark);
    border-radius: 5px;

    user-select: none;

    transition: 0.15s;
    transition-property: background-color, color;
}

.treeNode:hover {
    background-color: var(--secondary-dark);
    color: white;
    cursor: pointer;
}

.treeNodeIcon {
    font-size: 12px;
    margin-right: 5px;
    margin-left: 15px;
}